.legendItem {
  min-width: 2rem;
  min-height: 2rem;
}

.step {
  padding-bottom: 50vh;
  min-height: 120vh; 
}

.step.active {
  opacity: 0.95;
}

.m-left-chapter {
  margin-left: 5vw;
}

.m-right-chapter {
  margin-right: 5vw;
}